@media screen and (max-width: 768px) {
  header {
    .container {
      padding: 25px 30px;
      position: relative;
      .hamburger {
        display: inline-block;
      }
      .logo {
        margin: auto;
        &_link {
          font-size: 20px;
        }
      }
      .navigation {
        position: absolute;
        left: -100%;
        top: 0;
        flex-direction: column;
        padding-left: 70px;
        justify-content: center;
        width: 80%;
        height: 100vh;
        background-color: $color-background;
        transition: all 0.6s;
        &_active {
          left: 0;
        }
        .navigation_link a {
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 27px;
        }
        .navigation_link::after {
          content: "";
        }
      }
    }
  }

  #home {
    border: none;
  }

  #services {
    .container {
      padding: 25px 30px 0 30px;
      .services_block {
        margin: 25px 0 0 0;
        grid-template-columns: repeat(1, 1fr);
        .services_block-item {
          margin: 0 0 15px 0;
        }
      }
    }
  }

  #portfolio {
    border: none;
    .container {
      padding: 42px 30px;
      .portfolio_list {
        grid-gap: 13px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        & div:nth-child(1n + 9) {
          display: none;
        }
      }
      .portfolio_form {
        margin: 15px 0 20px 0;
      }
    }
  }
  footer {
    .container {
      .footer_text {
        display: none;
      }
      .footer_list {
        margin: auto;
      }
    }
  }
}
