@media screen and (max-width: 1021px) {
  #home {
    .www {
      height: 363px;
      margin: 40px 0;
      background: url("../../image/slider-content.png") center center / contain no-repeat;
    }
  }
  #services {
    .container {
      padding: 39px 40px 25px 40px;
      .services_block {
        margin: 28px 0 0 0;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
      }
    }
  }

  #portfolio {
    .container {
      .portfolio_list {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
      }
    }
  }
}
