.hamburger {
  width: 25px;
  height: 20px;
  transition: all 0.4s;
  &_line {
    display: block;
    height: 3px;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 6px;
  }
}
.hamburger_active {
  transition: all 0.4s;
  transform: rotate(-90deg);
}