#home {
  border-bottom: 6px solid #ea676b;
  background-color: $color-primary;
  padding-top: 108px;
  .www {
    height: 483px;
    margin: 54px 0 57px 0;
    background: url("../../image/slider-content.png") center center / contain no-repeat;
  }
}
