#home {
  position: relative;
  top: 108px;
  .slide {
    display: none;
    .slide-red {
      background-color: $color-primary;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 6px solid #ea676b;
    }
    .slide-blue {
      background-color: #648bf0;
      display: flex;
      justify-content: center;
      border-bottom: 6px solid #7a59ff;
    }
  }
  .active {
    display: block;
  }
  .btn-prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 40px;
  }
  .btn-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
  }
}
