#home {
  border-bottom: 6px solid #ea676b;
  background-color: $color-primary;
  padding-top: 108px;
  .container {
    display: flex;
    align-items: center;
    padding: 54px 40px 57px;
    .phone {
      height: 483px;
      width: 100%;
      background: url("../image/slider-content.png") center center / contain
        no-repeat;
    }
    .arrow-left {
      cursor: pointer;
    }
    .arrow-right {
      cursor: pointer;
    }
  }
}
