#portfolio {
  border-bottom: 6px solid #323746;
  border-top: 6px solid #ffffff;
  background-color: $color-background;
  .container {
    padding: 59px 30px 68px 30px;
    .portfolio_title {
      font-size: 30px;
      color: $color-text;
      margin-bottom: 14px;
    }
    .portfolio_text {
      font-size: 18px;
      color: $color-text;
      font-weight: 300;
      line-height: 30px;
    }
    .portfolio_button {
      margin: 20px 0;
      .button {
        font-size: 12px;
        border: 1px solid $color-text;
        border-radius: 5px;
        background-color: $color-background;
        color: $color-text;
        padding: 4px;
        margin-right: 7px;
        cursor: pointer;
        &:hover {
          border: 1px solid #fff;
          color: #fff;
          transition: all 0.3s;
          box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
          text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
        }
      }
      .button_active {
        border: 1px solid #fff;
        color: #fff;
      }
    }
    .portfolio_list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-gap: 20px;
      & div img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
      & div:nth-child(1n + 13) {
        display: none;
      }
    }
  }
}
